.DS_Store
*_executed.ipynb
*.textClipping
Week 1/Wk1_Capstone/slides_assets/
Week 2/Day 1/02_clean_transform/__pycache__/
Week 2/Day 1/01_ingestion_api_json/taxi_weather_simple.csv
Week 2/Day 1/data/raw/
Week 2/Day 1/data/processed/
Week 2/Day 1/shared_data/day_1_weather_taxi_data.duckdb
