.DS_Store
*_executed.ipynb
*.textClipping
Week 1/Wk1_Capstone/slides_assets/
Week 2/Day 1/02_clean_transform/__pycache__/
Week 2/Day 1/01_ingestion_api_json/taxi_weather_simple.csv
Week 2/Day 1/data/raw/
Week 2/Day 1/data/processed/
Week 2/Day 1/shared_data/day_1_weather_taxi_data.duckdb
*.parquet
*.zip
Week 2/Day 1/04_serving_dashboard/dashboard_frontend.html
*.pyc
Week 2/Day 1/shared_assets/api_key.txt
Week 2/Day 2/day_2_4_Parquet/NY/yellow_tripdata_2024-01.csv
Week 2/Day 2/day_2_1_API/api_lab_output
Week 2/Day 2/day_2_2_Airflow/airflow_project/logs
